<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">create</property>
		<mapping resource="hibernate-conf/mapping/User.hbm.xml"></mapping>
		<mapping resource="hibernate-conf/mapping/Share.hbm.xml"></mapping>
		<mapping resource="hibernate-conf/mapping/Reply.hbm.xml"></mapping>
		<mapping resource="hibernate-conf/mapping/Comment.hbm.xml"></mapping>
		<mapping resource="hibernate-conf/mapping/Picture.hbm.xml"></mapping>
		
	</session-factory>
</hibernate-configuration>